header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #fff;
  

  nav{
    &:first-of-type{
      ul{
        li{
          img{
            width: 10px;
            margin-left: 5px;
            position: relative;
            bottom: 2px;
          }
        }
      }
    }
  }
}
    
  