// Colors
$first-neutral-color: hsl(0, 0%, 98%);
$second-neutral-color: hsl(0, 0%, 41%);
$third-neutral-color: hsl(0, 0%, 8%);

// Font
$paragraphs: 18px;

// Breakpoints
$br-sm: 375px;
$br-md: 1440px;